.main-container {
  width: 20%;
  margin: auto;
  min-width: 359px;
  height: 100vh;
  display: grid;
  place-content: center;
}

.input-styles {
  border-radius: 8px;
  padding: 0 5px;
  height: 40px;
}

.password-validation-icon {
  width: 40px;
  margin-top: 6px;
}

.line-through {
  text-decoration: line-through;
  text-decoration-color: red !important;
}
